In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [5]:
file_path = './healthcare-dataset-stroke-data.csv'
df = pd.read_csv(file_path)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [6]:
# Handling missing values (Replace 'N/A' or 'NaN' with appropriate values)
df['bmi'].replace('N/A', pd.NA, inplace=True)
df['bmi'] = df['bmi'].astype(float)  # Convert 'bmi' column to numeri

In [7]:
# Encode categorical variables using LabelEncoder
label_encoders = {}
categorical_columns = ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']

In [9]:
for col in categorical_columns:
    label_encoders[col] = LabelEncoder()
    df[col] = label_encoders[col].fit_transform(df[col])

In [10]:
numerical_columns = ['age', 'avg_glucose_level', 'bmi']

In [14]:
# print the preprocessed DataFrame
print(df)

         id  gender   age  hypertension  heart_disease  ever_married  \
0      9046       1  67.0             0              1             1
1     51676       0  61.0             0              0             1
2     31112       1  80.0             0              1             1
3     60182       0  49.0             0              0             1
4      1665       0  79.0             1              0             1
...     ...     ...   ...           ...            ...           ...
5105  18234       0  80.0             1              0             1
5106  44873       0  81.0             0              0             1
5107  19723       0  35.0             0              0             1
5108  37544       1  51.0             0              0             1
5109  44679       0  44.0             0              0             1

      work_type  Residence_type  avg_glucose_level   bmi  smoking_status  \
0             2               1             228.69  36.6               1
1             3               0             202.21   NaN               2
2             2               0             105.92  32.5               2
3             2               1             171.23  34.4               3
4             3               0             174.12  24.0               2
...         ...             ...                ...   ...             ...
5105          2               1              83.75   NaN               2
5106          3               1             125.20  40.0               2
5107          3               0              82.99  30.6               2
5108          2               0             166.29  25.6               1
5109          0               1              85.28  26.2               0

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]

In [15]:
# Replace 'N/A' with NaN in the entire DataFrame
df.replace('N/A', pd.NA, inplace=True)

# Handle missing values in a specific column (e.g., 'bmi')
df['bmi'].fillna(df['bmi'].mean(), inplace=True)  # Replace NaN values with the mean of 'bmi'

In [16]:
from sklearn.preprocessing import LabelEncoder

# List of categorical columns to encode
categorical_columns = ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']

label_encoders = {}  # Dictionary to store label encoders for each column

for col in categorical_columns:
    label_encoders[col] = LabelEncoder()
    df[col] = label_encoders[col].fit_transform(df[col])

In [17]:
from sklearn.preprocessing import StandardScaler

# List of numerical columns to scale
numerical_columns = ['age', 'avg_glucose_level', 'bmi']

scaler = StandardScaler()
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

In [19]:
# Display the first few rows of the DataFrame
print(df.head())

      id  gender       age  hypertension  heart_disease  ever_married  \
0   9046       1  1.051434             0              1             1
1  51676       0  0.786070             0              0             1
2  31112       1  1.626390             0              1             1
3  60182       0  0.255342             0              0             1
4   1665       0  1.582163             1              0             1

   work_type  Residence_type  avg_glucose_level           bmi  smoking_status  \
0          2               1           2.706375  1.001234e+00               1
1          3               0           2.121559  4.615554e-16               2
2          2               0          -0.005028  4.685773e-01               2
3          2               1           1.437358  7.154182e-01               3
4          3               0           1.501184 -6.357112e-01               2

   stroke
0       1
1       1
2       1
3       1
4       1

In [21]:
# Save the DataFrame to a CSV file
df.to_csv('cleaning_data.csv', index=False)